<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">{{ 'CORE_FEATURE1' | translate }}</div>
      <div class="item item-body">
        <div>
          i18n and i10n (translation) Integrated.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">{{ 'CORE_FEATURE2' | translate }}</div>
      <div class="item item-body">
        <div>
          Sass setup is Done.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">{{ 'CORE_FEATURE3' | translate }}</div>
      <div class="item item-body">
        <div>
          Basic File Structure (Modular wise / Feature wise) of the App is Done using Gulp task runner.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
